<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

<style>
  .plot{
    height: 400px;
    width: 400px;
  }
</style> 

<div>
  <canvas class="plot" id="up_plot"></canvas>
</div>

<script>
var data_set = {{y}}
var labels = {{x | safe}}
const ctx = document.getElementById('up_plot');
  
new Chart(ctx, {
    type: 'line',
    data: {
    labels: labels,
    datasets: [{
      label:"Number of Upvotes received for all posts in a day",
      data: data_set,
      borderColor: 'rgb(85, 122, 222)',
    },
  ],
  }
});
</script>


  

